<% include ./../admin/layout/header %>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Sub Category List</strong>
                </div>
                <div class="card-body">
          <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Category Name</th>
                <th>Sub-Category Name</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% subcategories.forEach((subcategory) => { %>
              <tr>
                <td><%= subcategory.category_name %></td>
                <td><%= subcategory.sub_cat_name %></td>
                <td><%= subcategory.created_at %></td>
                <td>
                    <a href="/sub-category/<%= subcategory.id %>"><i class="fa fa-edit"></i></a>
                    <a href="/sub-category/delete/<%= subcategory.id %>"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            <% })%>
              
              
            </tbody>
          </table>
                </div>
            </div>
        </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->


</div>

<% include ./../admin/layout/footer %>
<script type="text/javascript">
$(document).ready(function() {
    $('#bootstrap-data-table-export').DataTable();
} );
</script>